@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");
@import url('https://fonts.googleapis.com/css?family=Ultra');
@import url('https://fonts.googleapis.com/css?family=Slabo+13px');

body {
	background-color: white;
}
* {
	box-sizing: border-box;
}
header {
	background-color: white;
	margin-bottom: 0.5em;
}
h1 {
	font: 3em 'Ultra', serif;
	padding: 0.2em;
}
h2 {
	font: 2em 'Ultra', serif;
	padding: 0.5em 0.5em;
}
h3 {
	font: 1.5em 'Ultra', serif;
	padding: 0.5em 0.8em;
}
p {
	font: 1em 'Slabo 13px', serif;
	padding: 0.5em 0.5em;
}
footer {
	margin-top: 2em;
}
figcaption {
	font: 1em 'Slabo 13px', serif;
}

#title{
	padding: 0.8em 0em;
}
#logo {
	float: left;
	padding: 0.5em 0.6em;
}
.site-nav{
	float: left;
}
.site-nav ul {
	list-style: none;
	overflow: hidden;
}
.site-nav li {
	float: left;
}
.site-nav li a {
	display: block;
    padding: 1em 1em;
    width: 10em;
    text-decoration: none;
    text-align: center;
    color: black;
    font: 1em 'Slabo 13px', serif;
}
.site-nav a:hover {
	background-color: #ccc;
}


#intro-card {
	margin: 1em;
}
#intro-card > .text-content {
	float: left;
	width: 50%;
	text-align: center;

	margin: 1em 0em;

	position: relative;
	top: 10em;
}
#intro-card figure {
	float: left;
	width: 50%;
	text-align: center;
}
#intro-card figure img {
	width: 100%;
	height: auto;
}


.product {
	float: left;
	text-align: center;
	margin: 1em;
	box-shadow: 0 0.2em 0.5em #888888;
	overflow: hidden;
}

.content-box {
	margin: 1em;
}

#anime-background-info .text-content{
	float: left;
	width: 70%;
}
article > figure {
	float: left;
	width: 30%;
	text-align: center;
}

.top-box-shadow {
	box-shadow: 0 -0.1em 0.5em #888888;
}
.bottom-box-shadow {
	box-shadow: 0 0.2em 0.5em #888888;
}
.clearfloat:after {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}