body {
	font-family: "Helvetica", sans-serif;

	line-height: 1.8;
}

h2 {
	border: indigo solid medium;
	padding: 0.25em;

	text-align: center;
	background-color: silver;
	
}

h1, h2 {
	font-family: "Lucida Console", sans-serif;
}

abbr {
	text-decoration: none;
	border-bottom: thin dotted;
}